.명령어 {
    color: rgb(0, 100, 255);
}
.개체관리 {
    color: rgb(228, 226, 226);
}
.생물종관리 {
    color: rgb(228, 226, 226);
}
.그래프관리 {
    color: rgb(228, 226, 226);
}
.애니매이션 {
    color: rgb(228, 226, 226);
}
.함수 {
    color: rgb(230, 180, 0);
}
.변수선언 {
    color: rgb(0, 40, 200);
}

body {
    background-color: rgb(27, 26, 26);
    color: rgb(228, 226, 226);
}